@font-face {
  font-family: "ReadexPro";
  src: url("/fonts/ReadexPro.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay.ttf") format("truetype");
}

:root {
  --red: #f74843;
  --gray: #111111;
}

html {
  color: white;
  background: var(--gray);

  font-family: ReadexPro, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: min(10vh, 10vw);
}

h1,
h2 {
  font-family: PlayfairDisplay, serif;
}

a {
  color: inherit;
}
