@font-face {
  font-family: "ReadexPro";
  src: url("/fonts/ReadexPro.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/PlayfairDisplay.ttf") format("truetype");
}

:root {
  --text: #111111;
  --background: #dddddd;
}

html {
  color: var(--text);
  background: var(--background);

  font-family: ReadexPro, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: min(10vh, 10vw);
  min-height: calc(100vh - min(10vh, 10vw) * 2);
}

h1,
h2 {
  font-family: PlayfairDisplay, serif;
}

a {
  color: var(--text);
}

a:hover {
  text-decoration: 1px underline wavy var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #111111;
  }
}
