.input {
    border: 1px solid var(--text);
    border-radius: 4px;
    padding: 0.2em 0.6em;
    margin-top: 10px;
    background: transparent;
    transition: background-color 0.5s;
    color: var(--text);
    text-align: center;
    width: 50px;
    height: 40px;
    font-size: xx-large;
}
.span {
    font-weight: 900;
    text-decoration: underline wavy var(--text);
}
.p {
    text-align: center;
    margin: 16px;
    font-size: xx-large;
}
.img {
    margin-left: calc(50% - 65px);
}
